<div class="collection with-header">
  <div class="collection-header">
    <h4>Active Bills</h4>
  </div>
  {{#each bills as |bill|}}
    <a href="{{bill.urls.govtrack}}" class="collection-item">
      <span class="truncate">{{#if bill.short_title}}{{bill.short_title}}{{else}}{{bill.official_title}}{{/if}}</span>
      Introduced {{moment-calendar bill.introduced_on}}<br>
      Last Active {{moment-from-now bill.last_action_at}}
    </a>
  {{/each}}
</div>
