{{log model}}
{{#each model.committee as |committee|}}
  <h2>Details for <a href="{{committee.url}}" target="_blank">{{committee.name}}</a></h2>
  <div class="row">
    <div class="col s6">
      <div class="collection with-header">
        <div class="collection-header"><h4>Subcommittees</h4></div>
        {{#each committee.subcommittees as |subcommittee|}}
          {{#link-to 'subcommittee' subcommittee.committee_id class="collection-item"}}<h5>{{subcommittee.name}}</h5>{{/link-to}}
        {{/each}}
      </div>

      {{bills-tile bills=model.bills}}
    </div>
    <div class="col s6">
      {{members-tile members=committee.members}}
    </div>
  </div>

{{/each}}
